

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}



h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


/*----------header--------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 360px;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins",sans-serif;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background-color: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50px;
  text-align: center;
  width: 36px;
  height: 36px;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#main {
  margin-left: 300px;
}

@media (max-width: 1170px) {
  #header {
    left: -400px;
  }
  #main {
    margin-left: 0;
  }
}

.nav-menu {
  padding-top: 30px;

}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  font-size: 15px;
}

.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
  color:#149ddd;
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #149ddd;
  background: transparent;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff
}

/* ------- hero section ------- */
#hero {
  width: 100%;
  height: 100vh;
  background: url(../img/background-home.jpg) center;
  background-size: cover;
}

#hero::before{
  content: "";
  background: rgba(5,13,24,0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
  background: transparent;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  background: transparent;
}

#hero p {
  color: #fff;
  background: transparent;
  margin-bottom: 50px;
  font-size: 34px;
  font-family: "Poppins", sans-serif;
}
#hero p span.typed-text {
  font-weight: normal;
  color: #cc0000;
  background: transparent;
}

#hero p span.cursor{
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

#hero span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

@media (min-width:1024px) {
  #hero{
    background-attachment: fixed
  }
}
@media (max-width:900px) {
  #hero h1 {
    font-size: 38px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
/*-------- about section -----------*/
#about {
  background: #000000;
  background-size: cover;
  background-position: center;
  display: block;
  margin-left: 360px;
  z-index: 100;
}

#about h2 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  color: #ffffff
}

#about p {
    font-size: 20px;
    color: #ffffff;
}

#about ul {
  list-style: none;
  padding: 70px;
  color: #ffffff;
}

#about ul li {
  padding-bottom: 10px;
}

#about ul i {
  font-size: 20px;
  padding-right: 2px;
}

#about p:last-child {
  margin-bottom: 0;
}

#about img{
  margin: 12px auto;
  display: block;
  width: 700px;
  border: 4px solid #2c2f3f;
}

@media (max-width: 1170px) {
  #about {
    margin-left: 0px;
  }

}
@media (min-width:1024px) {
  #about{
    background-attachment: fixed
  }
}
@media (max-width:900px) {
  #about h2 {
    font-size: 38px;
    line-height: 36px;
  }
  #hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width:900px) {
  #about img {
    width: 400px;
    height: 250px;
  }
}

/* ------- portfolio setion ------- */
#portfolio {
  background: #000000;
  background-color: black;
  background-size:cover;
  background-position: center;
  display: block;
  margin: auto;
  margin-left: 350px;
  z-index: 100;
}

#portfolio h2 {
  font-size: 40px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  color: #ffffff
}

#portfolio h3 {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  color: #ffffff
}

#portfolio p {
    font-size: 20px;
    color: #ffffff;
    -moz-text-align-last: center;
    text-align-last: center;
}

#portfolio ul {
  list-style: none;
  padding: 0;
  color: #ffffff;
}

#portfolio ul li {
  padding-bottom: 10px;
}

#portfolio ul i {
  font-size: 20px;
  padding-right: 2px;

}

#portfolio p:last-child {
  margin-bottom: 0;
}

#portfolio .button{
  display: inline-block;
  background-color: black;
  color: white;
  width: 200px;
  border: 2px solid #ff0000;
  font-size: 25px;
}

#portfolio .calc{
}

#portfolio .tet{
    text-align: center;
    margin: auto;
}

#portfolio img{
  margin: 12px auto;
  display: block;
  width: 700px;
  border: 4px solid #2c2f3f;
}

@media (max-width: 1170px) {
  #portfolio {
    margin-left: 0px;
  }

}
@media (min-width:1024px) {
  #portfolio{
    background-attachment: fixed
  }
}
@media (max-width:900px) {
  #portfolio h2 {
    font-size: 38px;
    line-height: 36px;
  }
  #hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width:900px) {
  #portfolio img {
    width: 400px;
    height: 250px;
  }
}


/* ------- contact section ------- */

#contact{
  margin: auto;
  padding: 0;
  text-align: center;
  background: black;
  background-size: cover;
  background-position: center;
}

#contact h1{
  color: #ffffff;
}

#contact h2{
  font-size: 16px;
  color: #ffffff;
}

#contact ul {
  list-style: none;
  padding: 70px;
  color: #ffffff;
}

#contact ul li {
  font-size: 32px;
  padding-bottom: 80px;
}
